user www-data;
worker_processes auto;
pid /run/nginx.pid;

load_module modules/ngx_stream_module.so;

error_log /var/log/nginx/error.log;

events {
    worker_connections 2048;
}

http {
    server { # curl --location --interface wg0 ifconfig.io
        listen {{ address }}:80;
        server_name _;

        error_page 307 @307;

        location @307 {
            default_type "";
            return 300;
        }

        return 307 https://$host$request_uri;
    }
}

stream {
    map $ssl_preread_server_name $target { # emulate sniproxy (curl https://ifconfig.io | curl --interface wg0 https://ifconfig.io)
{% for el in proxy_domains %}
  {%- set formatted_el = '~^(.*|)' ~ el | replace('.', '\\.') ~ ' $ssl_preread_server_name:443;' -%}
  {{- formatted_el | indent(8, true) }}
{% endfor -%}
{{- '}' | indent(4, true) }}

    server {
        listen {{ address }}:443;
        ssl_preread on;

        # resolver 127.0.0.1;
        resolver 1.1.1.1 9.9.9.9 8.8.8.8 ipv6=off;
        resolver_timeout 3s;

        proxy_socket_keepalive on;
        proxy_pass $target;
    }
}
